li{
	margin:	1rem auto;
	color: white;
	width: 90%;
	border-radius: 10px;
	height: 3rem;
}
.leaderboard ol li small{
	/*padding-left: 50%;*/
	text-align: right;
}
mark{
	color: white;
	margin: auto;
	font-size: 2rem;
	background: transparent;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*--------------------
Leaderboard
--------------------*/
h1{
	margin: 0;
	color: white;
}
.leaderboard {
  position: relative;
  top: 50vh;
  left: 25vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50vw;
  height: 90vh;
  background: transparent;
  color: black;
  border-radius: 10px;
  /* box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3); */
}
.leaderboard ol {
  counter-reset: leaderboard;
  padding-left: 2vw;
}
.leaderboard ol li {
  position: relative;
  z-index: 1;
  font-size: 14px;
  color: black;
  counter-increment: leaderboard;
  padding: 18px 3vw 18px 10vw;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
          transform: translateZ(0) scale(1, 1);
}
.leaderboard ol li::before {
  content: counter(leaderboard);
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #f7186e;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}
.leaderboard ol li mark {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: white;
  font-size: 1.5em;
}
.leaderboard ol li mark::before, .leaderboard ol li mark::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -11px;
  left: -9px;
  /* border-top: 10px solid #c24448; */
  /* border-left: 10px solid transparent; */
  transition: all .1s ease-in-out;
  opacity: 0;
}
.leaderboard ol li mark::after {
  left: auto;
  right: -9px;
  border-left: none;
  border-right: 10px solid transparent;
}
.leaderboard ol li small {
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
}
.leaderboard ol li::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
  transition: all .3s ease-in-out;
  opacity: 0;
}

li:nth-child(4n+1){
	background: linear-gradient(to right, #F7186E, #ff5e9c);
}
li:nth-child(4n+2){
	background: linear-gradient(to right, #f7b409, #ffcc4c);
}
li:nth-child(4n+3){
	background: linear-gradient(to right, #3aa0ff, #76b6f2);
}
li:nth-child(4n+4){
	background: linear-gradient(to right, #20f79a, #66ffbc);
}

.leaderboard{
	position: relative;
	overflow: hidden;
	overflow-y: scroll;
	width: 100%;
	left: 50%;
  top: 25vh;
	z-index: 5;
	height: 40vh;
}

@media(max-width: 572px){
  .leaderboard{
    top: 45vh;
    height: 80vh;
  }
}

.leaderboard::-webkit-scrollbar {
    width: 0.1em;
}
 
.leaderboard::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.leaderboard::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}