html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 18px;
  height: 100%;
  display: table;
  background-image: url("wall.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
  background-repeat: repeat no-repeat;
}

body {
  font-size: 100%;
}

@font-face {
  font-family: neon;
  src: url("neon.ttf");
}

.container {
  display: block;
  text-align: center;
}

.neon {
  margin-top: 30px;
  font-family: neon;
  color: #fb4264;
  font-size: 4rem;
  line-height: 4rem;
  text-shadow: 0 0 1rem #f40a35;
}

.flux {
  font-family: neon;
  color: #426dfb;
  font-size: 3rem;
  line-height: 3rem;
  text-shadow: 0 0 2.5rem #2356ff;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}

#machine {
  width: 90vw;
  height: 70%;
  position: relative;
  background-image: url("board.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 3rem;
  color: #fff;
  box-sizing: border-box;
}

.machine-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 572px) {
  #machine {
    height: 85%;
    background-image: url("board2.png");
  }

  .neon {
    margin-top: 30px;
    font-family: neon;
    color: #fb4264;
    font-size: 2rem;
    line-height: 2rem;
    text-shadow: 0 0 1rem #f40a35;
  }

  .flux {
    font-family: neon;
    color: #426dfb;
    font-size: 1rem;
    line-height: 1rem;
    text-shadow: 0 0 2.5rem #2356ff;
  }
  /*my code*/
  .topnav button{display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive button {
    float: none;
    display: block;
    text-align: center;
    transition:all 1.8s;
  }
  /*my code ends*/
}
/*my code*/
@font-face {
  font-family: neuropol;
  src: url("neuropol.ttf");
}
/*@font-face {
  font-family: motioncontrol;
  src: url("motioncontrol.otf");
}*/
.button {
  position: relative;
  background-color: transparent;/*#4CAF50;*/
  border: none;
  font-size: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border:none;
  outline:none;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
a{
  font-size:16px;
  text-decoration:none;
  color:white;
  font-family: neuropol;
}
button:hover{
  background:red;
}
.button:after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 1s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.topnav .icon {
  display: none;
}
span a{
  color:yellow;
}